body {
    background-color: #f9f9fa;
    text-align : center;
    justify-content: center;
}

.card-title {
    text-align : center;
}

.taskBox {
    padding : 20px;
    width: 100%
}

.sortButton {
    padding : 10px;
    text-align: right;

}

.addTaskButton {
    text-align: right;
    padding : 10px;
}

.task-container {
    border: 1px solid #ced4da;
    border-radius: 2px;
    padding : 20px;
    margin-bottom: 20px;
    justify-content: center;
}

ul {
    padding: 0;
    text-align: left;
    list-style: none;
    margin-bottom: 0;
}